* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Stylizacja header */
header {
  background-color: #16be00;
  padding: 20px;
  text-align: center;
}


main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .animation-container {
    margin: 0 20px; 
  }
  
  .wishes-container {
    margin: 0 20px;
  }

footer {
  background-color: #333333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}